.heroImage {
	background-size: cover;
	background-repeat: none;
	background-position: center;
	color: #fff;
	text-shadow: 1px 1px 4px rgba(0,0,0,.5);

	h1 {
		padding-left: .5em;
		padding-right: .5em;
		font-size: 3.3em;
		font-weight: 700;
		margin-top: 0;
		margin-bottom: .4em;
	}

	.description {
		padding-left: 1em;
		padding-right: 1em;
		font-size: 1.5em;
		margin-top: 0;
		margin-bottom: 2em;
	}

	.actions {
		display: flex;
		flex-wrap: wrap;
		padding-left: 1.5em;
		padding-right: 1.5em;

		.action-button {
			margin-bottom: .5em;
			padding-block: .2em;
		}

		.primary {
			background: white;
			color: black;
			mix-blend-mode: screen;
		}
	}
	
	a {
		color: #fff;
		font-size: 1.5em;
		border: 1px solid #fff;
		border-radius: 4px;
		padding: .5em 1em;
		margin-right: .7em;
		transition: all .2s ease-in-out;
		transition-property: all;
		transition-duration: .2s;
		transition-timing-function: ease-in-out;
		transition-delay: 0s;
	}
}
.heroWrapper {
	max-width: var(--homepage-width);
	margin: 0 auto;
	padding-top: 6em;
	padding-bottom: 5.5em;
}

.hero {
	padding: 2em 0 0;
	display: block;
}

.home {
	padding-top: 1em !important;
}