.credits {
	margin-top: 2em;
	display: table;
	width: 50%;
	table-layout: fixed;
	border-spacing: 0.2em;
	margin-left: auto;
	margin-right: auto;

	i {
		font-size: 20px;
		padding-top: 1em;
		margin-left: 5px;
		margin-right: 5px;
	}
}

.user {
	display: table-cell;
	margin: auto;
	text-align: center;
	vertical-align: middle;
	a, a:hover {
		text-decoration: none !important;
	}
	img {
		border-radius: 50%;
		width: 80%;
	}
	h3 {
		margin: 0.3em !important;
	}
	p {
		opacity: 0.65;
		margin-bottom: 0px !important;
	}
}

table {
	display: table;
	width: 100%;
	text-align: center;
}

.custom-container-title {
	display: none;
}

.tableContainer {
	width: 100%;
	overflow-x: scroll;
}

.tab-container {
	display: flex;
	flex-wrap: wrap;

	section {
		display: contents;

		> input {
			display: none;
		}

		.tab-link {
			border: 1px solid var(--c-border);
			border-bottom-width: 0;
			padding: 0.5rem 1rem;
			transition: 150ms ease;
			cursor: pointer;
		}
	
		@media screen and (min-width: 576px) {
			html:not([dir=rtl]) & {
				&:not(:first-of-type) .tab-link {
					border-left-width: 0px;
				}

				&:first-of-type .tab-link {
					border-top-left-radius: 0.25rem;
				}

				&:last-of-type .tab-link {
					border-top-right-radius: 0.25rem;
				}
			}

			html[dir=rtl] & {
				&:not(:first-of-type) .tab-link {
					border-right-width: 0px;
				}

				&:first-of-type .tab-link {
					border-top-right-radius: 0.25rem;
				}

				&:last-of-type .tab-link {
					border-top-left-radius: 0.25rem;
				}
			}
		}

		@media screen and (max-width: 575px) {
			.tab-link {
				width: 100%;
			}

			&:last-of-type .tab-link  {
				border-bottom-width: 1px;
				border-radius: 0 0 0.25rem 0.25rem;
			}

			&:first-of-type .tab-link {
				border-radius: 0.25rem 0.25rem 0 0 !important;
			}
		}
	}

	.tab {
		display: none;
		padding: 1rem 1rem 1rem 1rem;
		order: 999;
		width: 100%;
		border: 1px solid var(--c-border);

		@media screen and (min-width: 576px) {
			border-radius: 0 0.25rem 0.25rem 0.25rem;

			html[dir=rtl] & {
				border-radius: 0.25rem 0 0.25rem 0.25rem;
			}
		}

		@media screen and (max-width: 575px) {
			border-radius: 0;
			border-bottom-width: 0;
			order: 0;
		}
	}

	@media screen and (max-width: 575px) {
		.tab-last {
			border-bottom-width: 1px;
			border-radius: 0 0 0.25rem 0.25rem;
		}
	}

	input:checked + .tab-link {
		border-radius: 0;
	}

	input:checked + .tab-link + .tab {
		display: block;
	}

	input:checked + .tab-link:not(:hover):not(:active):not(:focus) {
		background-color: var(--c-border);
		border-color: var(--c-border);
	}

	.tab-link:hover, .tab-link:active, .tab-link:focus {
		background-color: var(--c-border-dark);
		border-color: var(--c-border-dark);
	}
}

.navigator {
	font-size: .9em;
	
	a {
		color: inherit;
		font-weight: 600;
	}

	span::after { 
		content: ">";
		padding-inline: .5em;
		font-weight: 200;
	}
}

.heroImage {
	background-size: cover;
	background-repeat: none;
	background-position: center;
	color: #fff;
	text-shadow: 1px 1px 4px rgba(0,0,0,.5);

	h1 {
		padding-left: .5em;
		padding-right: .5em;
		font-size: 3.3em;
		font-weight: 700;
		margin-top: 0;
		margin-bottom: .4em;
	}

	.description {
		padding-left: 1em;
		padding-right: 1em;
		font-size: 1.5em;
		margin-top: 0;
		margin-bottom: 2em;
	}

	.actions {
		padding-left: 1.5em;
		padding-right: 1.5em;

		.primary {
			background: white;
			color: black;
			mix-blend-mode: screen;
		}
	}
	
	a {
		color: #fff;
		font-size: 1.5em;
		border: 1px solid #fff;
		border-radius: 4px;
		padding: .5em 1em;
		margin-right: .7em;
		transition: all .2s ease-in-out;
		transition-property: all;
		transition-duration: .2s;
		transition-timing-function: ease-in-out;
		transition-delay: 0s;
	}
}
.heroWrapper {
	max-width: var(--homepage-width);
	margin: 0 auto;
	padding: 6em 0;
}

.hero {
	padding: 2em 0 0;
	display: block;
}

.home {
	padding-top: 1em !important;
}

@media (max-width: 959px) {
	.theme-default-content:not(.custom) {
		padding-top: 0rem;
	}
}