$background: rgb(246, 246, 246);
$dm-background: rgb(34, 39, 46);

:root {
    --c-brand: hsl(189, 80%, 45%);
    --c-brand-light: hsl(189, 90%, 55%);
    --c-tip: #30bcd5;

    --c-bg: #{$background};
    --c-bg-light: #f0f0f0;

    --c-container-bg: var(--c-bg-light);
    --c-tip-bg: #e6edef;
}

html.dark {
    --c-brand: hsl(189, 80%, 45%);
    --c-brand-light: hsl(189, 90%, 55%);
    
    --c-bg: #{$dm-background};
    --c-tip: #3992a3;
    --c-tip-bg: var(--c-bg-light);
    --c-warning: #ceab00;
    --c-warning-bg: var(--c-tip-bg);
    --c-warning-title: #ceac03;
    --c-warning-text: var(--c-text);
    --c-warning-text-accent: #dbca79;
    --c-danger: #97424a;
    --c-danger-bg: var(--c-tip-bg);
    --c-danger-title: #610000;
    --c-danger-text: var(--c-text);
    --c-danger-text-accent: #e96e6e;
    --c-details-bg: #323843;
}